<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <head>
  <!--load everything-->
  <script defer src="/static/fontawesome/fontawesome-all.js"></script>
</head>
   <meta name="google-site-verification" content="google1be99d52329c53f8">

    {% include header.html %}
   

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include javascripts.html %}
    {% include analytics.html %}
  </body>

</html>
